/*
	Syntax of using CSS rules:
	selector {
		property: value;
	}
*/

/* Universal Selector */
* {
	/* font-family property changes the style of the font */
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/* Type Selector */
/* tag-name */
h1 {
	color: yellow;
}

/* 
	ID selector 
	It targets only one element.
*/
#zuitt-motto {
	letter-spacing: 5px;
}

/* 
	Class selector
	.class-name
*/
.offering-item {
	/* text-transform property changes the font to a certain case. */
	text-transform: uppercase;
}

/* 
	Attribute selector
	[attribute]
 */
[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*
h3 {
	letter-spacing: 25px !important;
}
*/

/*
	Adjacent sibling selector
	element-for-reference + target-element
*/
#zuitt-motto + img {
	/* Height prop. changes the vertical dimension of an element. */
	/* Width prop. changes the horizontal dimension of an element.	*/
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*
	Descendant Selector
	element-for-reference <space> target-element
*/
#bootcamp-learning-list li {
	color: #1803fc;
}

/*
	General sibling selector
	element-for-reference ~ target-element
*/
h2 ~ a {
	/* text-decoration prop. changes lines included in text (ex. overline, underline and strike). */
	text-decoration: none;
}

/*
	Child Selector
	element-for-reference > target-element
*/
form > label {
	color: rgb(252, 3, 65);
}

body {
	background-color: skyblue;
}

section {
	/*	vh - viewport height */
	height: 100vh;
	text-align: center;
}

html {
	/* scroll-behavior property that changes scrolling behavior when clicking anchor tags */
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

/* pseudo class */
a:hover {
	background-color: #fc6f03;
}

div {
	/* float prop. changes the horizontal alignment of an element to float either to the left/right of its container. */
	display: inline;
	float: right;
}

ol {
	list-style-type: none;
}

form {
	text-align: center;
	background-color: white;

	border-width: 2px;
	border-style: solid;
	border-color: black;

	height: 185px;
	width: 25vw;
	/* 100 - 25 = 75, 75/2 = 37.5 */
	left: 37.5%; 
	/* position prop. changes the position of an element based on a certain criteria */
	position: relative;
}

button {
	background-color: #3103fc;
	color: white;
	border: 0;
	border-radius: 15px;
}
