/*===============CSS Reset===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {	
	margin-top: 30px;
	margin-bottom: 40px;
	background-color: white;
	background-position: center;
	border: 1px solid black;
	border-style: solid none solid none;
	position: sticky;
	padding: 15px;
	top: 0;
}

.nav-logo {
	display: inline;
	padding-left: 15%;
}

.right-nav {
	display: inline;
	float: right;
	padding-right: 10%;
}

.nav {
	display: inline;
	padding-right: 50px;
	font-weight: bold;
}

.tuitt-button {
	color: white;
	background-color: #c2195b;
	border: none;
	border-radius: 25px;
	width: 8rem;
	height: 2.5rem;
}

#bg-image {
	min-width: 85vw;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: 10px;
	margin-right: 5%;
    margin-left: 7%;
    display: inline-block;   
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
    min-height: 50vh;
}

.container {
	text-align: right;
	color: white;
}

.title {
	font-size: 3rem;
	font-family: 'Zilla Slab', sans-serif;
	font-weight: bold;
    padding-right: 7vw;
}

.title-2 {
	font-size: 3rem;
	font-weight: bold;
	font-family: 'Zilla Slab', sans-serif;
	padding-top: 10vh;
}

.subtitle {
	font-size: 1.5rem;
	font-weight: normal;
	padding-top: 2vw;
    padding-right: 7vw;
}

.apply-button {
	margin-top: 2vw;
	margin-right: 7vw;
	font-size: 1rem;
	font-weight: bold;
    color: white;
	background-color: #c2195b;
	border: none;
	border-radius: 25px;
	padding: 15px 70px;
}

.intro {
	text-align: center;
}

.intro-description {
	padding-top: 50px;
	padding-right: 11%;
	padding-left: 10%;
	font-size: 1.5rem;		
	text-align: justify;
  	text-justify: inter-word;
}

.pre-footer {
	margin-top: 5%;
	margin-right: 8%;
	margin-left: 8%;
	text-align: center;
	min-height: 60vh;
	background-color: #f7fbfb;
}

.prefooter-description {
	padding-top: 50px;
	padding-right: 200px;
	padding-left: 200px;
	margin-right: 5%;
	margin-left: 5%;
  	margin-bottom: 1%;
	font-size: 1.5rem;		
	text-align: center;
  	text-justify: inter-word;
}

.book-button {
	color: white;
	background-color: #336589;
	border-radius: 25px;
	border: none;
	font-weight: bold;
	font-size: 1rem;
	padding: 15px 80px;
}

footer {
	text-align: center;
	margin-bottom: 5%;
	margin-top: 5%;
	margin-left: 1%;
}